<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetra Polimer</title>
    <link rel="stylesheet" href="~/css/Index.css">
    <script src="./js/index.js" defer></script>
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
</head>

<body>

    <div id="container">
        <a href="/Siparisler/Siparisler">
            <div class="container-1">
                <img src="~/img/palet.png" alt="">
                <h4>Sevkiyat</h4>
            </div>
        </a>

    </div>
    <div id="container">
        <a href="/DisTicaret/DisTicaretler">
            <div class="container-1">
                <img src="~/img/yükgemisi.png" width="250" height="200" alt="">
                <h4>Dış Ticaret</h4>
            </div>
        </a>

    </div>

    </div>

</body>