<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detay Sayfası</title>
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
    <link rel="stylesheet" href="~/css/Siparisler.css">
</head>
<body>

    <div id="container">
        <a href="/Siparisler/SiparisDetay">
            <div class="container-1">
                <img src="~/img/siparişler.png" width="240" height="200" alt="">
                <h4>Siparişler</h4>
            </div>
        </a>

    </div>

    <div id="container">
        <a href="~/Siparisler/SevkBekleyen">
            <div class="container-1">
                <img src="~/img/sevkbekleyen.png" width="220" height="200" alt="">
                <h4>Sevk Bekleyen</h4>
            </div>
        </a>

    </div>

    <div id="container">
        <a href="/Siparisler/TeslimEdilen">
            <div class="container-1">
                <img src="~/img/teslimedilen.png" width="280" height="200" alt="">
                <h4>Teslim Edilenler</h4>
            </div>
        </a>

    </div>

    <div class="right-column">
        <img src="" alt="" class="left-column">

    </div>
</body>